html {margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	}
	
body {margin-top: 0px;
	margin-bottom: 0px;
	margin-right:auto;
	margin-left: auto;
	background-color:green;}

p 	{border-color: black;
		border: 1px;
	}

	
		

	